@{
    ViewBag.Title = "Home Page";
}

<br />
<center>
    <img width="40%" height="40%" src="~/Content/lotto.jpg" alt="Lotto">
</center>

<center>
    <a class="btn" href="~/Lotto/Lotto">Wyniki Lotto</a><br />
    <a href="~/Lotto/LottoCount">Statystyki Lotto</a>
</center>
